.hold-to-reveal-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 16px 0 16px 0;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px 24px 16px;

    &__title {
        @include H2;
        color:red;
      }

    &__close {
      @include H1;

      background-color: transparent;
      color: var(--color-text-default);
      position: absolute;
      cursor: pointer;
      top: -10px;
      right: 12px;

      &::after {
        content: '\00D7';
      }
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
  }


  &__footer {
    display: flex;
    justify-content: center;
    margin: 16px 24px  0px 16px;
    padding: 0 49.5px 0 49.5px;
  }
}
